<div class="col-md-12 text-center">
    <div id="successful-login-message" class="text-center alert alert-danger w-100 font-weight-bold" role="alert">
        Error 500: Internal Server Error ¯\_(ツ)_/¯
    </div>
    <img src="/assets/cover_new.jpg" alt="" width="30%" height="30%">
    <p class="mt-3">Click <a href="/login">here</a> to login</p>
</div>